.training-seminars{
    height: 800px;
    display: flex;
    padding-top: 80px;
    align-items: center;
    flex-direction: column;
    background: white;
}

.training-seminars > #title{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
    color: rgb(86,41,241);
    color: linear-gradient(90deg, rgba(86,41,241,1) 0%, rgb(40, 67, 218) 100%);
}
.training-seminars > #line{
    color: gray;
}
.training-seminars > h2{
    text-transform: uppercase;
    color: var(--darkgrey);
    font-size: 36px;
    padding-bottom: 10px;
}
.training-seminars > #desc{
    color: grey;
    font-size: 20px;
    padding-bottom: 60px;
}
.training-seminars > #card{
    width: 900px;
    height: 400px;
    background: url("../images/trainingSeminars/event-25060.jpg");
    background-size: cover;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.training-seminars > #card > #content{
    z-index: 10;
    position: absolute;
}
.training-seminars > #card > #content >#sect{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
}
.training-seminars > #card > #content >#sect > a{
    font-size: 12px;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(86,41,241);
    background: linear-gradient(90deg, rgba(86,41,241,1) 0%, rgb(40, 67, 218) 100%);
    margin-right: 10px;
}
.training-seminars > #card > #content > #sect > p{
    font-size: 12px;
    color: white;
    text-transform: uppercase;
}
.training-seminars > #card > #content > #sect1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 550px;
    text-align: center;
    color: white;
}
.training-seminars > #card > #content > #sect1 > #clock > h2{
    background: rgba(255, 255, 255, 0.5);
    font-size: 32px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    
}
.training-seminars > #card > #over-bg{
    background: rgba(0, 0, 0, 0.705);
    width: 900px;
    height: 400px;
    position: absolute;
}
.training-seminars > #card > #content > #sect1 > h1{
    font-size: 36px;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 20px;
}
.training-seminars > #card > #content > #sect1 > p{
    color: rgb(170, 170, 170);
    font-size: 15px;
    line-height: 1.5;
    padding-bottom: 20px;
}
.training-seminars > #card > #content > #sect1 > a{
    background: rgb(86,41,241);
    background: linear-gradient(90deg, rgba(86,41,241,1) 0%, rgb(40, 67, 218) 100%);
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: 1s;
}
.training-seminars > #card > #content > #sect1 > a:hover{
    background: rgb(86,41,241);
    background: linear-gradient(-90deg, rgba(86,41,241,1) 0%, rgb(40, 67, 218) 100%);
    padding: 30px;
}